.i_know_what_i_am_doing
*.user
*~
old/
# Object files
*.o
*.d
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.elf
*.bin
*.app
*.i*86
*.x86_64
*.hex

#misc
*.asm
*.lst
*.sym
*.rst
*.rel

# Debug files
*.dSYM/

# misc
dump*
*.swp

*.mem
*.map
*.lk

.gitignore
.project
.cproject
